.app {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  min-height: 100vh;
}

nav {
  align-items: center;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
}

.nav-links {
  align-items: center;
  color: gray;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  width: 50%;
}

a:visited,
a:active {
  color: gray;
  text-decoration: none !important;
}

img {
  border-radius: 50%;
  border: 1px solid #efefef;
  height: 200px;
  width: 200px;
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 10vh;
}

.search-bar {
  border: none;
  padding: 10px;
  width: 50%;
}

.search-button {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.recipes-list {
  width: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}